@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&subset=vietnamese');
body {
    font-family: 'Quicksand', sans-serif;
}



.text-logo {
    text-align:center; 
    font-weight: bold;
    font-size: 25px;
    color: #3fbfed;
}

#logo {
    width: 49%;
    display: inline-block;
}

#acc li{
    float: right;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}
li a {
display: block;
color: black;
text-align: center;
padding: 16px;
text-decoration: none;
}

